* {
	margin: 0;
	padding: 0;
}

body {
	color: #a4b4cb;
	background: #38485f;
	font-size: 21px;
	font-family: 'Lusitana', serif;
}

p,
li {
	line-height: 160%;
	margin-bottom: 1.5em;
	font-weight: 400;
}

.mb-shorter{
	margin-bottom: 1em;
}

.ta-right{
	text-align: right;
}

.ta-center {
	text-align: center;
}

.fz-small{
	font-size: 14px;
}

.see-source{
	margin-bottom: 0;
	position: relative;
	top: -5px;
}

code {
	font-family: consolas, monospace;
	background: #A4B4CB;
	padding: 6px 6px 4px;
	border-radius: 3px;
	font-size: 15px;
	color: #38485F;
}

ol {
	list-style-type: decimal;
	list-style-position: outside;
	padding-left: 20px;
	margin-bottom: 30px;
}

li {
	padding-left: 10px;
	margin-bottom: .2em;
}

a {
	color: #5bd1ab;
	text-decoration: none;
	transition: all .2s linear;
}

.content{
	width: 640px;
}

.highlight{
	color: #fff;
}

a:hover{
	color: #fff;
}

.container {
	width: 960px;
	margin: 50px auto;
}

.sidebar {
	width: 250px;
	float: right;
	margin-left: 60px;
}

.iphone-mockup-wrapper{
	padding-top: 30px;
}

.main-header,
.sub-header,
.sub-header-3{
	color: #fff;
	font-size: 40px;
	margin-bottom: 1em;
	line-height: 135%;
	font-family: 'Raleway', sans-serif;
}

.sub-header{
	font-size: 30px;
	margin-bottom: .7em;
}

.sub-header-3 {
	font-size: 24px;
	margin-bottom: .7em;
}

.main-header{
	position: relative;
	padding-left: 75px;
}

.github-btn {
	padding: 10px;
	height: 27px;
	border-radius: 5px;
	background: #273342;
	border-left: 1px solid #141a22;
	border-top: 1px solid #141a22;
	position: relative;
}

.check-on-github {
	font-size: 14px;
	color: #fff;
	background: #2e926f;
	position: absolute;
	top: 0;
	right: 0;
	height: 46px;
	line-height: 46px;
	padding: 0 15px;
	border-radius: 0 5px 5px 0;
	transition: all .2s linear;
}

.github-stargazers{
	padding-top: 3px;
}

.check-on-github:hover{
	background: #5bd1ab;
}

.main-header:before{
	position: absolute;
	left: -50px;
	top: 0;
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	background: url(../img/tic-tac-toe-js-icon-152.png) no-repeat;
	background-size: 100px;
	border-radius: 20px;
	box-shadow: 3px 3px 0 0 #36455A;
	border: 1px solid #303E52;
}

.comments-wrapper{
	border-top: 1px solid #2C374A;
	padding-top: 30px;
}

.gravatar-wrapper{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 20px;
	border-radius: 50%;
	overflow: hidden;
}

.about-content{
	overflow: hidden;
}

.about-content p {
	font-size: 17px;
}

.gravatar-wrapper img{
	width: 100%;
	height: auto;
}

.snippet-wrapper{
	margin-bottom: 25px;
}

/* tablet */
@media only screen and (max-device-width: 959px) {
	.container{
		width: auto;
	}

	.iphone-mockup {
		display: none;
	}

	.sidebar {
		float: none;
		width: 640px;
		margin: 0 auto 30px;
	}
	.content {
		margin: 0 auto;
	}
}

/* mobile */
@media only screen and (max-device-width: 639px) {
	.main-header{
		padding: 0;
	}
	.main-header:before{
		display: none;
	}
	.sidebar {
		width: auto;
		margin: 0 30px 30px;
	}
	.content {
		width: auto;
		margin: 0 30px;
	}
}
